<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316983907899-dbnr8l6t4ei2ou6ih1f4klki08tijti8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316983907899-dbnr8l6t4ei2ou6ih1f4klki08tijti8</string>
	<key>API_KEY</key>
	<string>AIzaSyDgh0SyyxMFTYQfyH3KtMuUxOrQNrybnvg</string>
	<key>GCM_SENDER_ID</key>
	<string>316983907899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tinyhacktechnology.Contaxt</string>
	<key>PROJECT_ID</key>
	<string>contaxt-bc929</string>
	<key>STORAGE_BUCKET</key>
	<string>contaxt-bc929.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316983907899:ios:3ad2da836a1394a899ae1e</string>
</dict>
</plist>